In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('t20_master.csv')

C:\Users\manis\AppData\Local\Temp\ipykernel_23632\714940151.py:1: DtypeWarning: Columns (1,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('t20_master.csv')

In [3]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.1,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.2,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.3,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.4,Australia,Sri Lanka,M Klinger,AJ Finch,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.5,Australia,Sri Lanka,M Klinger,AJ Finch,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
matches_played_by_bowler = df.groupby('bowler')['match_id'].nunique()

In [5]:
matches_played_by_bowler.tail()

bowler
Zohaib Khan               8
Zohaib Sarwar             9
Zulfiqar Babar           25
Zulqarnain Haider         5
Zulqarnain Haider (2)     1
Name: match_id, dtype: int64

In [6]:
balls_bowled_by_bowler = df['bowler'].value_counts()

In [7]:
balls_bowled_by_bowler.head()

DJ Bravo           10071
SP Narine           9965
Rashid Khan         8779
Shakib Al Hasan     7016
Imran Tahir         6685
Name: bowler, dtype: int64

In [8]:
runs_conceded_by_bowler = df.groupby('bowler')[['runs_off_bat', 'extras']].sum().sum(axis=1)

In [9]:
runs_conceded_by_bowler.head()

bowler
A Ahmadhel         21
A Amado            20
A Andrews          64
A Ashish Reddy    400
A Ashok           485
dtype: int64

In [11]:
df['isPlayerOut'] = 0
df['isPlayerOut'] = np.where(df['wicket_type'].notna(), 1, 0)

In [12]:
wickets_by_bowler = df.groupby('bowler')['isPlayerOut'].sum()

In [13]:
wickets_by_bowler.head()

bowler
A Ahmadhel         1
A Amado            1
A Andrews          5
A Ashish Reddy    19
A Ashok           25
Name: isPlayerOut, dtype: int32

In [14]:
overs_bowled_by_bowler = balls_bowled_by_bowler // 6 + (balls_bowled_by_bowler % 6) / 6.0
economy_rate_by_bowler = runs_conceded_by_bowler / overs_bowled_by_bowler

In [15]:
economy_rate_by_bowler.head()

A Ahmadhel        10.500000
A Amado            6.666667
A Andrews          6.193548
A Ashish Reddy     8.888889
A Ashok            6.945107
dtype: float64

In [16]:
bowling_average_by_bowler = runs_conceded_by_bowler / wickets_by_bowler

In [17]:
bowling_average_by_bowler.head()

bowler
A Ahmadhel        21.000000
A Amado           20.000000
A Andrews         12.800000
A Ashish Reddy    21.052632
A Ashok           19.400000
dtype: float64

In [18]:
bowling_strike_rate_by_bowler = balls_bowled_by_bowler / wickets_by_bowler

In [19]:
bowling_strike_rate_by_bowler.head()

A Ahmadhel        12.000000
A Amado           18.000000
A Andrews         12.400000
A Ashish Reddy    14.210526
A Ashok           16.760000
dtype: float64

In [24]:
bowler_stats_df = pd.DataFrame({
    'bowler': matches_played_by_bowler.index,
    'matches': matches_played_by_bowler.values,
    'balls': balls_bowled_by_bowler.reindex(matches_played_by_bowler.index).fillna(0).astype(int),
    'runs_conceded': runs_conceded_by_bowler.reindex(matches_played_by_bowler.index).fillna(0).astype(int),
    'wickets': wickets_by_bowler.reindex(matches_played_by_bowler.index).fillna(0).astype(int),
    'economy': economy_rate_by_bowler.reindex(matches_played_by_bowler.index).fillna(0).round(2),
    'average': bowling_average_by_bowler.reindex(matches_played_by_bowler.index),
    'strike_rate': bowling_strike_rate_by_bowler.reindex(matches_played_by_bowler.index)
})

In [25]:
bowler_stats_df['average'].replace([np.inf, -np.inf], np.nan, inplace=True)
bowler_stats_df['strike_rate'].replace([np.inf, -np.inf], np.nan, inplace=True)

In [26]:
bowler_stats_df.reset_index(drop=True, inplace=True)

In [27]:
bowler_stats_df.head()

,bowler,matches,balls,runs_conceded,wickets,economy,average,strike_rate
0,A Ahmadhel,2,12,21,1,10.50,21.000000,12.000000
1,A Amado,2,18,20,1,6.67,20.000000,18.000000
2,A Andrews,3,62,64,5,6.19,12.800000,12.400000
3,A Ashish Reddy,20,270,400,19,8.89,21.052632,14.210526
4,A Ashok,20,419,485,25,6.95,19.400000,16.760000

In [28]:
bowler_stats_df.to_csv('bowler_stats.csv', index=False)